{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="container py-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            {% set inputClasses = 'form-control mb-3 w-50' %}
            <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>

            <label for="usernameInput">Username</label>
            <input type="text"
                   name="username"
                   id="usernameInput"
                   value="{{ last_username }}"
                   class="{{ inputClasses }}"
                   autocomplete="username"
                   required
                   autofocus>

            <label for="passwordInput">Password</label>
            <input type="password"
                   name="password"
                   id="passwordInput"
                   class="{{ inputClasses }}"
                   autocomplete="current-password"
                   required>

            <input type="hidden"
                   name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-dark" type="submit">
                Zaloguj się
            </button>
        </form>
    </div>
{% endblock %}
