{% extends 'base.html.twig' %}

{% block title %} - Rejestracja{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
        {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Nazwa użytkownika',
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Email',
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło',
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Akceptuję warunki'
        }) }}

        <button type="submit" class="btn btn-dark mb-5">Załóż konto</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
